.checkbox {
  display: flex;
  align-items: center;

  &--small {
    cursor: pointer;

    .checkbox__mark {
      width: 20px;
      height: 20px;

      &::after {
        top: 1px;
        left: 2px;
      }
    }

    .checkbox__label {
      font-size: $font-size-3;
    }
  }

  &--gray {
    input {
      &:checked ~ .checkbox__mark {
        opacity: 1;
      }
    }

    .checkbox__mark {
      opacity: 0.5;
    }
  }

  &--purple {
    .checkbox__mark {
      background-color: #bea5ff;

      &::after {
        content: url("../img/icons/accept--white.svg");
      }
    }
  }

  input {
    display: none;

    &:checked ~ .checkbox__mark::after {
      opacity: 1;
    }
  }

  &__mark {
    position: relative;
    display: block;

    flex-shrink: 0;

    width: 25px;
    height: 25px;

    margin-right: 10px;

    background-color: $palette-white;
    border-radius: 5px;

    transition: opacity 0.15s ease;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    &::after {
      content: url("../img/icons/accept.svg");
      position: absolute;
      top: 4px;
      left: 5px;

      opacity: 0;

      transition: opacity 0.15s ease;
    }
  }

  &__label {
    font-size: 12px;
    line-height: 15px;

    transition: color 0.15s ease;
  }

  &__policy {
    color: #f6cd46;
    transition: color 0.15s ease;

    &:hover {
      text-decoration: underline;
    }
  }
}
