// -----------------------------------------------------------------------------
// В этом файле общие стили для компонента "Поле ввода"
// и подключение дополнительных вариаций
// -----------------------------------------------------------------------------

.input {
  outline: none;
  border: none;
  border-radius: 5px;

  &::placeholder {
    color: $input__placeholder;
    font-size: $font-size-5;
  }
}
