// -----------------------------------------------------------------------------
// В этом файле общие стили для компонента "Поле ввода"
// и подключение дополнительных вариаций
// -----------------------------------------------------------------------------

$input__background: #ffffff;
$input__shadow: 0 0 25px rgba(178, 190, 196, 0.25);
$input__placeholder: #595959;
