// -----------------------------------------------------------------------------
// В этом файле общие стили для компонента "Поле ввода"
// и подключение дополнительных вариаций
// -----------------------------------------------------------------------------

.input {
  outline: none;
  border: none;
  border-radius: 5px;

  &--hidden {
    position: absolute !important;
    visibility: hidden !important;
    opacity: 0 !important;
  }

  &::placeholder {
    color: $input__placeholder;
    font-size: $font-size-5;

    @include breakpoint($breakpoint-mobile-large) {
      font-size: $font-size-6;
    }
  }
}
