.hero-promo {
  position: relative;
  z-index: 2;

  margin-top: 80px;

  background-color: $palette-white;
  box-shadow: $shadow-primary;

  @include breakpoint($breakpoint-mobile-large) {
    margin-top: 80px;
  }

  &__content {
    padding: 40px 60px;

    @include breakpoint($breakpoint-mobile-large) {
      padding: 20px 10px;
    }
  }

  &__title {
    margin-bottom: 10px;

    font-size: $font-size-1;
    line-height: 45px;

    @include breakpoint($breakpoint-mobile-large) {
      text-align: center;

      font-size: $font-size-3;
      line-height: 30px;
    }

    span {
      color: $text-orange;
    }
  }

  &__image {
    width: 100%;
    height: 100%;

    object-fit: cover;

    @include breakpoint($breakpoint-laptop) {
      height: 300px;
    }
  }

  &__info {
    display: block;
    margin-bottom: 30px;
    font-size: 18px;

    line-height: 125%;
  }
}
