.background {
  position: relative;

  &__image {
    position: absolute;
    pointer-events: none;

    &--main-1 {
      top: -855px;
      left: -1271px;
    }

    &--main-2 {
      top: -158px;
      right: 0;
    }

    &--milling-1 {
      right: -186px;
      bottom: -365px;
    }

    &--milling-2 {
      bottom: -153px;
      left: -142px;
    }
  }
}
