.background {
  position: relative;

  &__image {
    position: absolute;
    pointer-events: none;

    @include breakpoint($breakpoint-laptop) {
      display: none;
    }

    &--main-1 {
      top: -1012px;
      left: -1275px;
    }

    &--main-2 {
      top: -158px;
      right: 0;

      @include breakpoint($breakpoint-laptop-large) {
        right: -220px;
      }
    }

    &--milling-1 {
      right: -186px;
      bottom: -365px;

      @include breakpoint($breakpoint-laptop-large) {
        bottom: -300px;
      }
    }

    &--milling-2 {
      bottom: -153px;
      left: -142px;
    }
  }
}
