.modal-stl {
  &__overlay {
  }

  &__container {
    width: 100%;
    max-width: 1000px;
  }

  &__title {
    margin-bottom: 100px;
  }

  &__section {
    margin-bottom: 30px;
  }

  &__button {
    padding-left: 30px;
    padding-right: 30px;
  }
}