// -----------------------------------------------------------------------------
// В этом файле общие стили для компонента "Модальное окно"
// и подключение дополнительных вариаций
// -----------------------------------------------------------------------------

.modal__overlay {
  position: fixed;
  z-index: $z-index-modal;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.6);
}

.modal__container {
  position: relative;
  max-width: 560px;

  padding: 60px;
  border-radius: 4px;

  overflow-y: auto;

  color: $text-white;
  background-color: #fff;
  background-image: linear-gradient(81.1deg, #9966ff 6.15%, #7976ff 100.16%);

  @include breakpoint($breakpoint-mobile-large) {
    @include flex($justify: center);
    flex-direction: column;

    width: 100%;
    height: 100%;

    padding: 10px;
  }
}

.modal__header {
}

.modal__title {
  margin-bottom: 50px;

  font-weight: $weight-light;
  text-align: center;

  @include breakpoint($breakpoint-mobile-large) {
    margin-bottom: 30px;

    font-size: $font-size-3;
  }
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 5px;

  background-color: transparent;
  border: none;
  outline: none;

  cursor: pointer;

  transition: opacity 0.15s ease;

  &:hover {
    opacity: 0.5;
  }

  &:before {
    content: url("../img/icons/modal-close.svg");
  }
}


.modal__content {

}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}
