// -----------------------------------------------------------------------------
// В этом файле содержатся дополнительные или общие классы
// -----------------------------------------------------------------------------

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
}

.col-no-pl {
  padding-left: 0 !important;
}

.jarallax {
  height: 100%;
}
