// -----------------------------------------------------------------------------
// В этом файле содержатся дополнительные или общие классы
// -----------------------------------------------------------------------------

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
}

.stretched-link {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  cursor: pointer;
}

img {
  transition: filter 0.3s;
}

img.lazyload {
  filter: blur(5px);
}
