// -----------------------------------------------------------------------------
// В этом файле содержатся дополнительные или общие классы
// -----------------------------------------------------------------------------

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
}

.col-no-pl {
  padding-left: 0 !important;
}

.background {
  position: relative;

  &__image {
    position: absolute;

    &--main-1 {
      top: -855px;
      left: -1271px;
    }

    &--main-2 {
      top: -155px;
      right: 0;
    }
  }
}

.jarallax {
  position: relative;
  z-index: 0;

  &__image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}
