// -----------------------------------------------------------------------------
// В этом файле стили типографии для всех элементов страницы
// -----------------------------------------------------------------------------

body {
  font-family: Roboto, sans-serif;
  color: $text-black;
}

h1 {
}

h2 {
  font-size: 36px;
}

p,
li {
  line-height: 150%;
}
