#analytics {
  padding-bottom: 180px;

  @include breakpoint($breakpoint-mobile-large) {
    display: none;
  }

  .section__title {
    margin-bottom: 15px;
  }
}

.analytics {
  @include flex();
  flex-direction: column;
  padding: 55px;

  background-color: $palette-white;
  box-shadow: $shadow-primary;

  &__image {
    width: 100%;
  }
}