#equipment {
  background-color: #fbfbfb;

  padding-bottom: 130px;
}

.equipment {
  &__item {
    position: relative;

    @include flex();
    flex-direction: column;

    height: 100%;

    border-radius: 5px;

    background-color: $palette-white;
    box-shadow: $shadow-secondary;

    overflow: hidden;
    text-align: center;

    &:hover {
      .equipment__picture::after {
        transform: scale(3, 3) translateX(-25%) translateY(-25%);
      }

      .equipment__button {
        background-color: $button-outline--hover;
        color: $text-white;

        border-color: $button-outline--hover;
      }
    }
  }

  &__picture {
    position: relative;
    width: 100%;
    height: 205px;

    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      width: 165px;
      height: 165px;

      background-image: linear-gradient(
        81.1deg,
        rgba(153, 102, 255, 0.29) 6.15%,
        #7976ff 100.16%
      );

      border-radius: 50%;

      transform: translate(-50%, -50%);
      transition: all 0.2s ease-in-out;
    }
  }

  &__image {
    position: relative;
    z-index: 1;

    width: 100%;
    height: 100%;

    object-fit: contain;
  }

  &__content {
    @include flex($justify: center);
    flex-direction: column;

    flex-grow: 1;

    padding: 40px 0;
  }

  &__title {
    max-width: 200px;
    margin-bottom: 15px;

    font-size: $font-size-5;
    font-weight: $weight-thin;

    line-height: 24px;
  }

  &__button {
    margin-top: auto;
  }
}
