.form-excursion {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: $font-size-1;

    @include breakpoint($breakpoint-laptop-large) {
      font-size: $font-size-2;
    }

    @include breakpoint($breakpoint-mobile-large) {
      font-size: $font-size-3;

      text-align: center;
    }

    span {
      color: $text-orange;
    }
  }

  &__button {
    align-self: flex-start;

    margin-top: 30px;
    padding-left: 40px;
    padding-right: 40px;

    @include breakpoint($breakpoint-mobile-large) {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
