.form-excursion {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: $font-size-1;

    span {
      color: $text-orange;
    }
  }

  &__button {
    align-self: flex-start;

    margin-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
  }
}