.resident-thumb {
  @include flex($justify: flex-start);
  width: 100%;

  padding: 18px;
  cursor: pointer;

  transition: all 0.15s ease;

  @include breakpoint($breakpoint-mobile-large) {
    justify-content: center;
    padding: 20px 0 20px 0;
  }

  &:hover {
    opacity: 0.7;
  }

  &--active {
    box-shadow: $shadow-secondary;
  }

  &__slider {
  }

  &__photo {
    width: 100%;
    max-width: 125px;

    height: 95px;

    object-fit: cover;
    object-position: top;

    @include breakpoint($breakpoint-mobile-large) {
      display: none;
    }
  }

  &__wrapper {
    margin-left: 10px;

    font-size: $font-size-5;

    @include breakpoint($breakpoint-mobile-large) {
      margin-left: 0;
      text-align: center;
    }
  }

  &__name {
    margin-bottom: 5px;
    font-weight: $weight-bold;
  }
}
