.resident {
  position: relative;
  @include flex();

  .offset-1 {
    margin-left: 7%;
  }

  &__slider {
    height: 490px;
    margin: 0;

    &--thumb {
      margin-left: 80px;
      padding-left: 15px;
      width: 30%;

      height: 430px;
    }

    &--main {
      width: 70%;
      padding-right: 15px;
    }
  }
}
