// Цветовая палитра блоков
$palette-white: #ffffff;
$palette-purple: #9966ff;
$palette-black: #515151;

// Градиенты
$gradient-orange: linear-gradient(0deg, #ef7f17, #ef7f17);

// Цветовая палитра бордеров
$border-orange: 2px solid #ec821f;

// Цветовая палитра текста
$text-black: #515151;
$text-white: #ffffff;
$text-orange: #ff7f08;
$text-purple: #9966ff;

// Цветовая палитра ховеров
$hover-orange: #ec821f;
