.stl-color {
  &--A1 {
    background-color: #e5d8c2;
  }

  &--A2 {
    background-color: #e3cda6;
  }

  &--A3 {
    background-color: #dec89f;
  }

  &--A35 {
    background-color: #d1b786;
  }

  &--B1 {
    background-color: #e1d9c4;
  }

  &--B2 {
    background-color: #decead;
  }

  &--B3 {
    background-color: #dec896;
  }

  &--B4 {
    background-color: #ddc794;
  }

  &--C1 {
    background-color: #d9cbaf;
  }

  &--C2 {
    background-color: #d0c199;
  }

  &--C3 {
    background-color: #cdbc91;
  }

  &--C4 {
    background-color: #c3ac76;
  }

  &--D2 {
    background-color: #d9cbae;
  }

  &--D3 {
    background-color: #d5c69f;
  }

  &--D4 {
    background-color: #d6c89b;
  }

  &--bleach-1 {
    background-color: #e0dcd9;
  }

  &--bleach-2 {
    background-color: #e1dcd6;
  }

  &--bleach-3 {
    background-color: #e2dacf;
  }

  &--bleach-4 {
    background-color: #e3d7c9;
  }
}
