// Толщина шрифта
$weight-lightest: 100;
$weight-light: 300;
$weight-thin: 400;
$weight-regular: 500;
$weight-medium: 600;
$weight-bold: 700;
$weight-extrabold: 900;

// Размеры шрифта
$font-size-0: 48px;
$font-size-1: 30px;
$font-size-2: 24px;
$font-size-3: 20px;
$font-size-4: 18px;
$font-size-5: 16px;
$font-size-6: 14px;

// Межстрочные расстояния
$line-height-0: 28px;
$line-height-1: 38px;
