#action {
  .container {
    @include breakpoint($breakpoint-tablet) {
      padding: 0;
    }
  }
}

.action {
  background-color: $palette-purple;
  background-image: linear-gradient(90deg, #9966ff 0%, #7976ff 100%), #232222;

  &__content {
    padding-top: 90px;
    padding-bottom: 90px;

    color: $text-white;

    @include breakpoint($breakpoint-tablet-large) {
      padding-top: 45px;
      padding-bottom: 45px;
      padding-left: 10px;
      padding-right: 10px;

      text-align: center;
    }
  }

  &__title {
    justify-content: flex-start;
    margin-bottom: 10px;
    text-align: left;

    font-weight: $weight-regular;

    @include breakpoint($breakpoint-laptop-large) {
      font-size: 28px;
    }

    @include breakpoint($breakpoint-tablet-large) {
      justify-content: center;
      font-size: 24px;
      text-align: center;
    }
  }

  &__text {
    margin-bottom: 30px;
    font-size: 18px;

    @include breakpoint($breakpoint-laptop-large) {
      font-size: 16px;
    }

    @include breakpoint($breakpoint-tablet-large) {
      font-size: 14px;
    }
  }

  &__picture {
    width: 100%;
    height: 100%;

    @include breakpoint($breakpoint-tablet-large) {
      height: 350px;
    }

    @include breakpoint($breakpoint-tablet) {
      height: 250px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  &__link {
    color: $text-white;
    font-size: 28px;
    font-weight: $weight-regular;

    line-height: 130%;

    @include breakpoint($breakpoint-laptop-large) {
      font-size: 21px;
    }

    @include breakpoint($breakpoint-laptop) {
      font-size: 18px;
    }

    a {
      transition: 0.15s ease;

      @media (hover: hover) {
        &:hover {
          color: $text-orange;
        }
      }
    }
  }
}
