#advantages {
  padding-top: 50px;
  padding-bottom: 140px;
}

.advantage {
  position: relative;
  z-index: 2;

  &__card {
    height: 100%;

    padding: 40px 35px 25px 35px;

    background-color: $palette-white;
    box-shadow: $shadow-primary;
  }

  &__title {
    margin-bottom: 10px;
  }
}