#advantages {
  padding-top: 45px;
  padding-bottom: 135px;

  @include breakpoint($breakpoint-mobile-large) {
    padding-bottom: 30px;
  }
}

.advantage {
  position: relative;
  z-index: 2;

  &__card {
    height: 100%;

    padding: 40px 15px 25px 25px;

    background-color: $palette-white;
    box-shadow: $shadow-secondary;

    @include breakpoint($breakpoint-laptop) {
      br {
        display: none;
      }
    }
  }

  &__title {
    margin-bottom: 10px;

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size-5;
    }
  }

  &__description {
    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size-6;
    }
  }
}
