.stl-stage {
  margin-bottom: 85px;

  &__item {
  }

  &__wrapper {
    position: relative;
    height: 480px;
  }

  &__row {
    display: flex;
    justify-content: space-between;

    @include first-last {
      justify-content: center;
    }
  }

  &__button {
    position: absolute;

    display: flex;
    flex-direction: column;

    font-size: $font-size-2;

    cursor: pointer;

    white-space: nowrap;

    &:hover {
      .stl-stage__edit {
        color: $text-orange;

        path {
          fill: $text-orange;
        }
      }
    }
  }

  &__edit {
    margin-right: auto;
    margin-bottom: 5px;

    color: #a8a8a8;
    font-size: $font-size-6;

    transition: all 0.15s ease;

    svg {
      margin-left: 5px;

      path {
        transition: all 0.15s ease;
      }
    }
  }

  &__control {
    position: relative;
  }

  &__selector {
    @include flex($justify: flex-start);

    margin-bottom: 30px;
  }

  &__tab {
    position: relative;
    font-size: $font-size-2;

    cursor: pointer;

    &--active {
      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 50%;

        width: 100%;

        transform: translateX(-50%);
        border-bottom: 2px solid #ec821f;
      }
    }

    &--disabled {
      color: #b1b1b1;

      cursor: default;
    }

    &:not(:last-child) {
      margin-right: 65px;
    }
  }

  &__background {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }

  &__status {
    position: absolute;

    @include first-last() {
      left: 50%;

      transform: translateX(-50%);
    }

    @include first-child {
      top: 75px;

      .stl-stage__button {
        top: -70px;
        left: -70px;
      }
    }

    @include from-end(5) {
      top: 140px;
      left: 235px;

      .stl-stage__button {
        top: 0;
        right: 70px;

        text-align: right;
      }
    }

    @include from-end(4) {
      top: 140px;
      left: 480px;

      .stl-stage__button {
        top: 0;
        left: 70px;
      }
    }

    @include from-end(3) {
      top: 290px;
      left: 235px;

      .stl-stage__button {
        top: 0;
        right: 70px;

        text-align: right;
      }
    }

    @include from-end(2) {
      top: 290px;
      left: 480px;

      .stl-stage__button {
        top: 0;
        left: 70px;
      }
    }

    @include last-child {
      top: 360px;

      .stl-stage__button {
        bottom: -70px;
        left: -70px;
      }
    }
  }

  &__checkmark {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    visibility: hidden;
    opacity: 0;

    transition: all 0.3s ease;

    &--visible {
      visibility: visible;
      opacity: 1;
    }
  }
}
