.stl-teeth {
  padding-top: 75px;
  padding-bottom: 80px;

  &__help {
    position: absolute;

    &--top {
      top: -70px;
      left: 14px;
    }

    &--bottom {
      bottom: -75px;
      left: 14px;
    }
  }

  &__map {
    @include flex();

    width: 100%;
  }

  &__item {
    position: relative;
    z-index: 1;

    transition: all 0.15s ease;
    filter: drop-shadow(0 0 9px rgba(51, 51, 51, 0.15));
    cursor: pointer;

    svg {
      position: relative;
      z-index: 1;

      path {
        transition: all 0.15s ease;
      }
    }

    &--saved {
      color: $text-white;

      svg path {
        fill: #ef7f17 !important;
      }
    }

    &--support {
      color: $text-white;

      svg path {
        fill: #f0aa69;
      }
    }

    &--healthy {
      color: inherit !important;

      svg path {
        fill: #78e1db !important;
      }
    }

    &--empty {
      color: inherit !important;

      svg path {
        fill: #ff5656 !important;
      }
    }

    &:hover {
      color: $text-white;

      svg path {
        fill: #9966ff;
      }
    }
  }

  &__row {
    position: relative;
  }

  &__support {
    position: absolute;
    left: 30px;

    display: flex;

    &--top {
      top: -40px;

      .stl-teeth__checkbox {
        @include first(2) {
          margin-right: 20px;
        }

        @include between(4, 6) {
          margin-left: 10px;
        }

        @include between(7, 7) {
          margin-left: 20px;
        }

        @include middle(15) {
          margin: 0 45px;
        }

        @include between(9, 9) {
          margin-right: 20px;
        }

        @include between(10, 12) {
          margin-right: 10px;
        }

        @include last(2) {
          margin-left: 20px;
        }
      }
    }

    &--bottom {
      bottom: -45px;

      .stl-teeth__checkbox {
        @include first(3) {
          margin-right: 20px;
        }

        @include between(5, 6) {
          margin-left: 15px;
        }

        @include between(7, 7) {
          margin-left: 25px;
        }

        @include middle(15) {
          margin: 0 25px;
        }

        @include between(9, 9) {
          margin-right: 20px;
        }

        @include between(10, 11) {
          margin-right: 15px;
        }

        @include last(3) {
          margin-left: 20px;
        }
      }
    }
  }

  &__id {
    position: absolute;
    z-index: 2;
    top: 45%;
    left: 50%;

    font-size: 12px;
    font-weight: $weight-medium;

    transform: translate(-50%, -50%);

    pointer-events: none;

    &--medium {
      font-size: 18px;
    }

    &--large {
      font-size: 24px;
    }
  }

  &__background {
    position: absolute;
    left: 15px;

    width: 745px;

    pointer-events: none;

    &--top {
      bottom: 40px;
    }

    &--bottom {
      top: 30px;
    }
  }
}
