.table {
  width: 100%;

  border-radius: 5px;
  overflow: hidden;

  box-shadow: $shadow-primary;

  &__caption {
    padding: 10px 30px;

    color: $text-white;
    background-image: $table__head--gradient;

    text-align: left;
  }

  td {
    padding: 10px 30px;

    @include last(2) {
      text-align: right;
    }
  }

  &__start {
    td {
      padding-top: 40px;
    }
  }


  &__end {
    td {
      padding-bottom: 40px;
    }
  }
}
