.service-slider {
  &__prev,
  &__next {
    @include breakpoint($breakpoint-tablet) {
      top: unset;
      bottom: 40px;
    }
  }

  &__prev {
    right: unset;
    left: 60px;

    @include breakpoint($breakpoint-laptop-large) {
      left: 10px;
    }

    @include breakpoint($breakpoint-tablet) {
      left: 25%;
    }
  }

  &__next {
    right: 60px;
    left: unset;

    @include breakpoint($breakpoint-laptop-large) {
      right: 10px;
    }

    @include breakpoint($breakpoint-tablet) {
      right: 25%;
    }
  }
}
