.contact-info {
  @include flex($align: flex-start);
  flex-wrap: wrap;

  width: 47%;

  margin-left: auto;
  margin-right: 60px;
  padding: 60px 40px 30px 40px;

  box-shadow: $shadow-secondary;

  &__item {
    min-width: 165px;
    max-width: 210px;

    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 10px;

    font-weight: $weight-light;
    font-size: $font-size-3;
  }

  &__description {
    color: $text-purple;
    font-size: $font-size-3;

    a {
      transition: color 0.15s ease;

      &:hover {
        color: $text-orange;
      }
    }
  }
}