#contacts {
  margin-top: 55px;

  @include breakpoint($breakpoint-laptop) {
    margin-top: 70px;
  }
}

.contacts {
  &__map {
    height: 580px;

    background-color: #f6f6f6;

    @include breakpoint($breakpoint-laptop) {
      height: 300px;
    }
  }

  &__container {
    position: relative;

    margin-top: 60px;
    margin-bottom: 100px;

    @include breakpoint($breakpoint-laptop) {
      margin-top: 15px;
    }
  }

  &__form {
    position: absolute;
    bottom: 0;
    left: 0;

    @include breakpoint($breakpoint-laptop) {
      bottom: -610px;
      left: 50%;

      width: 100%;

      transform: translateX(-50%);
    }

    @include breakpoint($breakpoint-mobile-large) {
      bottom: -600px;
    }
  }

  &__info {
    width: 47%;

    @include breakpoint($breakpoint-laptop) {
      margin-bottom: 630px;
    }

    @include breakpoint($breakpoint-mobile-large) {
      margin-bottom: 600px;
    }
  }
}
