// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
  z-index: $z-index-header;
  width: 100%;

  background-color: $palette-white;
}

.header {
  @include flex($align: flex-start);

  padding-top: 10px;

  &-top {
    position: relative;
    z-index: 2;

    background-color: $palette-white;
    box-shadow: 0 0 25px rgba(178, 190, 195, 0.25);
  }

  &-bottom {
    position: absolute;
    z-index: 1;
    bottom: -47px;
    left: 0;

    width: 100%;
    height: 47px;
    background-color: $palette-white;

    opacity: 0;
    visibility: hidden;

    transition: all 0.15s ease;
    box-shadow: 0 0 25px rgba(178, 190, 195, 0.25);

    &--visible {
      opacity: 1;
      visibility: visible;
    }
  }

  &__container {
    position: relative;
    z-index: 2;

    background-color: $palette-white;

    @include breakpoint($breakpoint-tablet) {
      box-shadow: $shadow-secondary;
    }
  }

  &__primary {
  }

  &__secondary {
    @include breakpoint($breakpoint-tablet) {
      display: none;
    }
  }

  &__logo {
  }

  &__image {
  }

  &__nav {
    @include breakpoint($breakpoint-tablet) {
      display: none;
    }
  }

  &__action {
    padding-top: 5px;

    @include breakpoint($breakpoint-laptop) {
      display: none;
    }
  }

  &__button {
    border: 1px solid #d9d9d9;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__mobile {
    display: none;

    @include breakpoint($breakpoint-tablet) {
      display: block;
    }
  }
}
