// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
  z-index: $z-index-header;
  width: 100%;
  height: 63px;
}

.header {
  @include flex($align: flex-start);

  padding-top: 10px;

  &-top {
    position: relative;
    z-index: 2;
    background-color: $palette-white;

    box-shadow: 0 0 25px rgba(178, 190, 195, 0.25);
  }

  &-bottom {
    position: absolute;
    z-index: 1;
    bottom: -55px;
    left: 0;

    width: 100%;
    height: 55px;
    background-color: $palette-black;

    opacity: 0;
    visibility: hidden;

    transition: all 0.15s ease;

    &--visible {
      opacity: 1;
      visibility: visible;
    }
  }

  &__logo {
  }

  &__image {
  }

  &__nav {
  }

  &__action {
    padding-top: 5px;
  }

  &__button {
    border: 1px solid #d9d9d9;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}
