.navbar {
  @include flex($align: flex-start);

  font-size: $font-size-4;

  &__item {
    position: relative;
    display: flex;

    transition: all 0.15s ease;

    &--dropdown {
      &:hover {
        .navbar__dropdown {
          transform: translateY(0);
        }

        .header-bottom {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &--hover {
    }

    &:hover {
      color: $text-white;
      background: #ec821f;
    }
  }

  &__link {
    padding: 8px 14px 25px 14px;
  }

  &__dropdown {
    transform: translateY(-100px);
  }
}
