// -----------------------------------------------------------------------------
// В этом файле общие стили для компонента "список"
// и подключение дополнительных вариаций
// -----------------------------------------------------------------------------

$list-marker--white: #ffffff;
$list-marker--orange: #ff7f08;

.list {
  &--light {
    .list__item {
      &::before {
        background-color: $list-marker--white;
      }
    }
  }

  &--unmarked {
    .list__item {
      &::before {
        display: none;
      }
    }
  }

  &__item {
    display: flex;
    margin-bottom: 15px;

    &--strong {
      &::after {
        content: "\00a0\00a0";
      }
    }

    @include breakpoint($breakpoint-laptop) {
      br {
        display: none;
      }
    }

    &::before {
      content: "";

      flex-shrink: 0;

      width: 10px;
      height: 10px;

      border-radius: 50px;

      margin-top: 8px;
      margin-right: 15px;

      background-color: $list-marker--orange;
    }
  }
}
