.navbar-dropdown {
  visibility: hidden;
  opacity: 0;

  transition: all 0.15s ease;

  &__list {
    @include flex();
  }

  &__item {
    padding-top: 10px;
    padding-bottom: 10px;

    color: $text-white;
    font-size: $font-size-6;

    white-space: nowrap;
    transition: color 0.15s ease;

    &:not(:last-child) {
      &::after {
        content: "";
        display: inline-block;

        vertical-align: middle;

        width: 1px;
        height: 30px;

        margin: 0 14px;

        background-color: #9667ff;
      }
    }
  }

  &__link {
    padding-top: 15px;
    padding-bottom: 15px;

    &:hover {
      text-decoration: underline;
    }
  }
}
