.section {
  padding-top: 140px;

  &__heading {
    .section__title {
      margin-bottom: 10px;
    }

    margin-bottom: 60px;
  }

  &__title {
    display: flex;
    justify-content: center;

    margin-bottom: 30px;

    font-weight: $weight-medium;

    &--left {
      justify-content: flex-start;
    }
  }

  &__subtitle {
    font-weight: $weight-regular;
    font-size: $font-size-2;

    text-align: center;
  }
}