.section {
  padding-top: 140px;

  &__title {
    display: flex;
    justify-content: center;

    margin-bottom: 30px;

    font-weight: $weight-medium;

    &--left {
      justify-content: flex-start;
    }
  }
}