// -----------------------------------------------------------------------------
// В этом файле общие стили для компонента "кнопка"
// -----------------------------------------------------------------------------

.button {
  border: none;
  border-radius: 20px;

  outline: none;

  padding: 8px 18px;

  font-size: $font-size-6;

  transition: all 0.15s ease;
  cursor: pointer;
}
