.button-small {
  border: $button-outline__border;
  padding: 8px 18px;
  background: transparent;

  font-size: $font-size-6;

  &:hover {
    border-color: $button-outline--hover;
    background-color: $button-outline--hover;
    color: $text-white;
  }
}