// -----------------------------------------------------------------------------
// В этом файле общие стили для компонента "кнопка"
// -----------------------------------------------------------------------------

.button {
  border: none;
  border-radius: 50px;

  outline: none;

  padding: 15px 18px;

  font-size: $font-size-5;

  transition: all 0.15s ease;
  cursor: pointer;

  &:hover path {
    fill: #ffffff;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  &__icon {
    margin-left: 10px;

    path {
      transition: fill 0.15s ease;
    }
  }
}
