// -----------------------------------------------------------------------------
// В этом файле общие стили для компонента "кнопка"
// и подключение дополнительных вариаций
// -----------------------------------------------------------------------------

$button-primary: #ffffff;
$button-primary--hover: #ef7f17;

$button-secondary: #ffffff;
$button-secondary__border: 2px solid #9966ff;
$button-secondary--hover: #ef7f17;

$button-outline: #ffffff;
$button-outline__border: 2px solid #ffffff;
$button-outline--hover: #ef7f17;