$button-primary: #ffffff;
$button-primary--hover: #ef7f17;

$button-secondary: transparent;
$button-secondary__border: 2px solid #9966ff;
$button-secondary--hover: #ef7f17;

$button-outline: transparent;
$button-outline__border: 2px solid #ffffff;
$button-outline--hover: #ef7f17;

@import 'button';
@import 'button-outline';
@import 'button-small';
@import 'button-primary';
@import 'button-secondary';

