#included {
  position: relative;
  padding-bottom: 130px;

  @include breakpoint($breakpoint-mobile-large) {
    padding-bottom: 60px;
  }
}

.included {
  &__card {
    position: relative;

    overflow: hidden;

    border-radius: 5px;
    padding: 40px 35px;

    background-color: $palette-white;
    box-shadow: $shadow-secondary;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      background-image: linear-gradient(
        81.1deg,
        #9966ff 6.15%,
        #7976ff 100.16%
      );

      opacity: 0;

      transition: all 0.15s ease;
    }

    &:hover {
      color: $text-white;

      &::after {
        opacity: 1;
      }
    }
  }

  &__wrapper {
    position: relative;
    z-index: 1;
  }

  &__title {
    margin-bottom: 25px;

    font-size: $font-size-2;

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size-4;
    }

    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size-5;
    }
  }

  &__list {
  }

  &__item {
    margin-bottom: 10px;
    max-width: 260px;

    font-size: $font-size-4;

    @include breakpoint($breakpoint-laptop) {
      max-width: unset;

      font-size: $font-size-5;
    }

    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size-6;
    }
  }

  &__button {
    margin: 30px auto 0 auto;

    @include breakpoint($breakpoint-mobile-large) {
      display: none;
    }
  }
}
