#prices {
  padding-bottom: 130px;

  background-color: #fbfbfb;

  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);

  @include breakpoint($breakpoint-mobile-large) {
    background-color: $palette-white;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }
}

.prices {
  &__button {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}
