#statement {
  padding: 120px 0;
  background-color: #fbfbfb;

  @include breakpoint($breakpoint-mobile-large) {
    padding: 60px 0;
  }
}

.statement {
  &__background {
    position: absolute;
    top: 50%;

    transform: translateY(-50%);

    &--right {
      right: 0;
    }

    @include breakpoint($breakpoint-laptop) {
      display: none;
    }
  }

  &__item {
    font-size: $font-size-3;

    @include breakpoint($breakpoint-laptop-large) {
      font-size: $font-size-4;
    }

    @include breakpoint($breakpoint-mobile-large) {
      font-size: $font-size-5;
    }
  }

  &__title {
    margin-bottom: 30px;

    font-size: $font-size-1;

    @include breakpoint($breakpoint-laptop-large) {
      font-size: $font-size-2;
    }

    @include breakpoint($breakpoint-mobile-large) {
      font-size: $font-size-3;

      text-align: center;
    }
  }
}
